h4 {
    padding:0.5em;
    border-bottom:1px solid black;
    text-align: left;
}

#todo-input {

}

.template{
    display:none;
}

#alertdiv {
    display:none;
}

div.todoEntry {
    padding:0.5em;
    border-bottom:1px solid grey;
    text-align: left;
}

div.todoEntry .entryTitle{
    font-size:1.2em;
    padding-right: 5em;
}

div.todoEntry .entryTime{
    color:green;
    font-size:0.8em;
}


div.doneTask{
     color:lightgrey;
 }

div.doneTask .entryTime{
    color:lightgrey;
}

.doneTitle{
    margin-top:2em;
}

.taskControls{
    float:right;
    display:none;
}

.taskControls button.buttonDeleteTask{
    color:red;
}

.taskControls button.buttonDoTask{
    color:darkgreen;
}

